<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css">
<link rel="stylesheet" href="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.js"></script>
<script src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
<style>
form_main {
    width: 100%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}   
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
		<div class="form_main">
                <h4 class="heading"><strong>Calendar </strong> Form <span></span></h4>
                <div class="form">
                <form action="/cal/save_record/" method="post" id="contactFrm" name="contactFrm">
                    <input type="text" required="" placeholder="Teacher Name" value="" name="teacher_name" class="txt">
                    <input type="text" required="" placeholder="Grade Number" value="" name="grade_no" class="txt">
		    <div class="row">
                        <div class="col-sm-6"><input type="text" required="" placeholder="Date" value="" name="date" class="txt datepicker"></div>
                        <div class="col-sm-6"><input type="text" required="" placeholder="Time" id="input-a" name="time" class="txt" value="" data-default="00:00"></div>
                    </div>
                    <textarea placeholder="Comments" name="comments" type="text" class="txt_3"></textarea>
                    <input type="submit" value="submit" name="submit" class="txt2">
                </form>
        </div>
    </div>
    <div class="row" align="center">{{message}}</div>
</div>

<script>
$(function(){
    $('.datepicker').datepicker({
        format: 'mm-dd-yyyy',
        startDate: '11-05-2017',
        endDate: '11-25-2017',
        autoclose: true
    });

    var input = $('#input-a');
    input.clockpicker({
        autoclose: true
    });


});

</script>
