{% load static %}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css">
<link rel="stylesheet" href="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">
<link href="{% static 'css/calendar.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.js"></script>
<script src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
<script src="{% static 'js/calendar.js' %}"></script>

<script>
      $(document).ready(function() {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();			
        events_data = []
        {% for i in data %}
		events_data.push({
                        title: "{{i.teacher_name}}",
                        start: new Date("{{i.timestamp}}"),
                        allDay: false,
                        className: 'info'
		});
	{% endfor %}
        $('#external-events div.external-event').each(function() {	
            ("http://arshaw.com/fullcalendar/docs/event_data/Event_Object/")
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };
	});
	
	var calendar =  $('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: 'agendaDay,agendaWeek,month',
			right: 'prev,next today'
		},
		editable: true,
		firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
		selectable: true,
		defaultView: 'month',
		axisFormat: 'h:mm',
		columnFormat: {
	               	month: 'ddd',    // Mon
         	       	week: 'ddd d', // Mon 7
                	day: 'dddd M/d',  // Monday 9/7
               		agendaDay: 'dddd d'
            	},
            	titleFormat: {
                	month: 'MMMM yyyy', // September 2009
                	week: "MMMM yyyy", // September 2009
                	day: 'MMMM yyyy'                  // Tuesday, Sep 8, 2009
            	},
		allDaySlot: false,
		selectHelper: true,
		events: events_data,
		});
	});
</script>

<style>
	#wrap {
		width: 1100px;
		margin: 0 auto;
	}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
	}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		margin: 0 auto;
		width: 900px;
		background-color: #FFFFFF;
		border-radius: 6px;
		box-shadow: 0 1px 2px #C3C3C3;
		-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
		-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
		box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
	}

	form_main {
    		width: 100%;
	}
	.form_main h4 {
    		font-family: roboto;
    		font-size: 20px;
    		font-weight: 300;
    		margin-bottom: 15px;
    		margin-top: 20px;
    		text-transform: uppercase;
	}
	.heading {
    		border-bottom: 1px solid #fcab0e;
    		padding-bottom: 9px;
    		position: relative;
	}
	.heading span {
    		background: #9e6600 none repeat scroll 0 0;
    		bottom: -2px;
    		height: 3px;
    		left: 0;
    		position: absolute;
    		width: 75px;
	}   
	.form {
    		border-radius: 7px;
    		padding: 6px;
	}
	.txt[type="text"] {
    		border: 1px solid #ccc;
    		margin: 10px 0;
    		padding: 10px 0 10px 5px;
    		width: 100%;
	}
	.txt_3[type="text"] {
    		margin: 10px 0 0;
    		padding: 10px 0 10px 5px;
    		width: 100%;
	}
	.txt2[type="submit"] {
    		background: #242424 none repeat scroll 0 0;
    		border: 1px solid #4f5c04;
    		border-radius: 25px;
    		color: #fff;
    		font-size: 16px;
    		font-style: normal;
    		line-height: 35px;
    		margin: 10px 0;
    		padding: 0;
    		text-transform: uppercase;
    		width: 30%;
	}
	.txt2:hover {
    		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    		color: #5793ef;
    		transition: all 0.5s ease 0s;
	}
</style>

<div class="container" align="center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
	    <div class="form_main">
              <h4 class="heading"><strong>Calendar </strong> Form <span></span></h4>
              <div class="form">
                <form action="/cal/save_record/" method="post" id="contactFrm" name="contactFrm">
                    <input type="text" required="" placeholder="Teacher Name" value="" name="teacher_name" class="txt">
                    <div>Grade : </div><input type="number" required="" value="1" min="1" max="5" name="grade_no" class="txt" style="width:100%;">
		    <div class="row">
                        <div class="col-sm-6"><input type="text" required="" placeholder="Date" value="" name="date" class="txt datepicker"></div>
                        <div class="col-sm-6"><input type="text" required="" placeholder="Time" id="input-a" name="time" class="txt" value="" data-default="00:00"></div>
                    </div>
                    <textarea placeholder="Comments" name="comments" type="text" class="txt_3"></textarea>
                    <input type="submit" value="submit" name="submit" class="txt2">
                </form>
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" align="center">{{message}}</div>
</div>

<div id='wrap'>
  <div align="center"><h2>Saved Events</h2></div>
  <div id='calendar'></div>
  <div style='clear:both'></div>
</div>

<script>
$(function(){
    $('.datepicker').datepicker({
        format: 'mm-dd-yyyy',
        startDate: '11-05-2017',
        endDate: '11-25-2017',
        autoclose: true
    });

    var input = $('#input-a');
    input.clockpicker({
        autoclose: true
    });
});
</script>
